body{
    background-color: antiquewhite;
}

h1{
    text-align:center;
    background-color:cornflowerblue;
    color:antiquewhite  
}

#login-failed{
    color:navy;
    font-size: large;
}

#login-form{
    background-color: cornflowerblue;
    color: antiquewhite;
    border: 3px solid navy;
    padding: 1%;
    width: max-content;
    font-size: large;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.login-input{
    font-size: large;
}

#login-submit{
    font-size: large;
    font-family: 'Times New Roman', Times, serif;
    background-color: antiquewhite;
    color: navy;
    border: 1px solid navy;
}

#login-submit:hover{
    background-color: navy;
    color: antiquewhite;
    border: 1px solid navy;
}

.error-message-box{
    background-color: cornflowerblue;
    color: white;
    padding: 1%;
    width:50%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1%;
    border: solid 3px navy;
    text-align: center;
}

.error-close-button{
  float: right;
  background-color: navy;
  color: white;
}

#register-button{
  float:right;
  font-size: large;
  font-family: 'Times New Roman', Times, serif;
  background-color: navy;
  color: antiquewhite;
  border: 1px solid navy;
}

#register-button:hover{
  background-color: antiquewhite;
  color: navy;
  border: 1px solid navy;
}

/* MODAL STUFF */

/* Full-width input fields */
#register-user, #register-pass {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Set a style for all buttons */
#submit-register-button {
  background-color: navy;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

#submit-register-button:hover {
  opacity: 0.50;
}

/* Center the image and position the close button */
#register-close-button-container {
  margin: 24px 0 50px 0;
  position: relative;
}

.register-input-container {
  padding: 16px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
  background-color: cornflowerblue;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 5px solid navy;
  width: 80%; /* Could be more or less, depending on screen size */
  color: antiquewhite;
  font-size: large;
}

/* The Close Button (x) */
.close {
  position: absolute;
  right: 25px;
  top: 0;
  font-size: 35px;
  font-weight: bold;
  background-color: navy;
  color: white;
}

.close:hover, .close:focus {
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  cursor: pointer;
}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)} 
  to {-webkit-transform: scale(1)}
}
  
@keyframes animatezoom {
  from {transform: scale(0)} 
  to {transform: scale(1)}
}