* {box-sizing: border-box}
body {font-family: 'Times New Roman'}
.mySlides {display: none}
img {vertical-align: middle;}

body{
  background-color: antiquewhite;
}

h1{
  text-align:center;
  background-color:cornflowerblue;
  color:antiquewhite;
}

#image-upload-form{
  background-color: cornflowerblue;
  color: antiquewhite;
  border: 3px solid navy;
  padding: 1%;
  width: 75%;
  font-size: large;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

#image-file-button, #image-file-submit{
  font-size: medium;
}

.error-message-box{
  background-color: cornflowerblue;
  color: white;
  padding: 1%;
  width: 75%;
  margin-bottom: 1%;
  border: solid 3px navy;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.close-button{
  float: right;
  background-color: navy;
  color: white;
}

#logout-button{
  float:right;
  font-size: large;
  font-family: 'Times New Roman', Times, serif;
  background-color: navy;
  color: antiquewhite;
  border: 1px solid navy;
}

#logout-button:hover{
  background-color: antiquewhite;
  color: navy;
  border: 1px solid navy;
}

#refresh-button{
  font-size: large;
  font-family: 'Times New Roman', Times, serif;
  background-color: navy;
  color: antiquewhite;
  border: 1px solid navy;
}

#refresh-button:hover{
  background-color: antiquewhite;
  color: navy;
  border: 1px solid navy;
}

label, p {
  font-size: large;
}
/* Slideshow container */
.slideshow-container {
  max-width: 75%;
  position: relative;
  margin: auto;
  border: solid navy 5px;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: cornflowerblue;
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: xx-large;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: large;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: cornflowerblue;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #014690;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}